.football-ico {
  display: inline-block;
  &:before {
    content: " ";
    display: inline-block;
    float: left;
    height: 14px;
    line-height: 20px;
    padding-left: 25px;
  }
  &.goal {
    &:before {
      background: url("../img/icons/football-ico-goal.svg") left 0 no-repeat;
      background-size: 100% 100%;
    }
  }
  &.yc {
    &:before {
      background: url("../img/icons/football-ico-yc-alt.svg") left 0 no-repeat;
      background-size: 100% 100%;
    }
  }
  &.rc {
    &:before {
      background: url("../img/icons/football-ico-rc-alt.svg") left 0 no-repeat;
      background-size: 100% 100%;
    }
  }
  &.pen {
    &:before {
      background: url("../img/icons/football-ico-penalty.svg") left 0 no-repeat;
      background-size: 100% 100%;
    }
  }
}
.teams {
    .team {
        .box-shadow(0 0 2px 1px rgba(0, 0, 0, 0.3));
        .rounded(50%);
        height: 30px;
        display: inline-block;
        line-height: 30px;
        margin: 5px 5px 5px 0;
        padding: 1px;
        text-align: center;
        width: 30px;
        img {
            .rounded(50%);
            max-width: 100%;
            height: auto;
            vertical-align: top;
        }
    }
}
.re-time {
    color: @red;
    margin-left: 10px;
}