.panel-default {
  .panel-heading {
    background-color: @green;
    border-color: @green_dark;
    color: @white;
    .label {
      float: right;
      margin-top: 2px;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}