<div class="main-menu">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-default">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="index.html">Главная</a>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="news.html">Новости <span class="sr-only">(current)</span></a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Матчи <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="matches.html">Все матчи</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="matches-liga.html">Высшая лига</a></li>
                                    <li><a href="#">Первая лига</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">Группа А</a></li>
                                    <li><a href="#">Группа Б</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">Вторая лига</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">Юниорская лига</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Таблицы <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="table-vl.html">Высшая лига</a></li>
                                    <li><a href="#">Первая лига</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">Группа А</a></li>
                                    <li><a href="#">Группа Б</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">Вторая лига</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">Юниорская лига</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Команды <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Высшая лига</a></li>
                                    <li><a href="#">Первая лига</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">Группа А</a></li>
                                    <li><a href="#">Группа Б</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">Вторая лига</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">Юниорская лига</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Игроки <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Высшая лига</a></li>
                                    <li><a href="#">Первая лига</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">Группа А</a></li>
                                    <li><a href="#">Группа Б</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">Вторая лига</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">Юниорская лига</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Статистика</a></li>
                        </ul>

                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-search">&nbsp;</span>Поиск <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <form class="navbar-form navbar-left" role="search">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="найти">
                                            </div>
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-default">Поиск</button>
                                            </div>
                                        </form>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user">&nbsp;</span>Аккаунт <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Вход</a></li>
                                    <li><a href="#">Регистрация</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>
